@media screen and (max-width: 1024px) {
  .conteiner .navbar .katalog {
    display: flex;
    gap: 13px;
  }

  .conteiner .navbar .btn {
    display: flex;
    gap: 0px;
  }

  .conteiner .rasrochka {
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    gap: 11px;
    align-items: center;
  }

  .conteiner .rasrochka p {
    font-size: 14px;
  }

  .conteiner .AllWidth .skidka .item {
    width: 202px;
    height: 405px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .flo .item {
    width: 202px;
    height: 405px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .rekomenduyem .item {
    width: 202px;
    height: 405px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .elektronika .item {
    width: 202px;
    height: 405px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .rasrochka2 .item {
    width: 202px;
    height: 420px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .texnika .item {
    width: 202px;
    height: 420px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .bozor .item {
    width: 202px;
    height: 410px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .vozdux .item {
    width: 202px;
    height: 410px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .uxod .item {
    width: 202px;
    height: 410px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .family .item {
    width: 202px;
    height: 410px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .AllWidth .beauty .item {
    width: 202px;
    height: 410px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 15px;
  }

  .conteiner .navbar .btn .voyti {
    width: 72px;
  }

  .conteiner .navbar .btn .izb i {
    font-size: 15px;
  }

  .conteiner .navbar .btn .kar i {
    font-size: 16px;
  }

  .conteiner .navbar .btn .izb {
    width: 84px;
  }

  .conteiner .navbar .btn .voyti {
    width: 65px;
    height: 43px;
    border: 1px solid transparent;
    display: flex;
    gap: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
  }

  .conteiner .navbar .btn .izb {
    width: 120px;
    height: 43px;
    display: flex;
    gap: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
  }

  .conteiner .navbar .btn .kar {
    width: 65px;
    height: 43px;
    display: flex;
    gap: 1px;
    border: 1px solid transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
  }

  .AllWidth {
    padding: 0 25px;
  }

  .conteiner .navbar {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
  }

  .conteiner .translator {
    padding: 0 25px;
  }

  .conteiner .navbar .logo svg {
    width: 172px;
    height: 200px;
  }

  .conteiner .navbar .katalog .kat {
    width: 114px;
  }

  .conteiner .navbar .katalog .flex input {
    width: 345px;
  }

  .conteiner .translator .location p {
    font-size: 12px;
  }

  .conteiner .translator .dos p {
    color: #878787;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .AllWidth {
    padding: 0 13px;
  }

  .conteiner .translator .location h3 {
    color: #2f2f2f;
    font-size: 11px;
  }

  .conteiner .translator .dos p {
    color: #878787;
    font-size: 14px;
  }

  .conteiner .translator .questions p {
    font-size: 12px;
  }

  .conteiner .translator .questions select {
    width: 74px;
    border: none;
    background-color: transparent;
  }

  .conteiner .translator .questions {
    display: flex;
    gap: 0px;
  }

  .conteiner .translator .location {
    display: flex;
    gap: 5px;
  }

  .conteiner .translator .questions {
    display: flex;
    gap: 7px;
  }

  .conteiner .translator {
    padding: 0 13px;
  }

  .conteiner .navbar .logo svg {
    width: 137px;
    height: 200px;
  }

  .conteiner .navbar {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 13px;
  }

  .conteiner .navbar .katalog .kat i {
    font-size: 20px;
  }

  .conteiner .navbar .katalog .kat {
    width: 74px;
    gap: 3px;
  }

  .conteiner .navbar .katalog .kat p {
    font-size: 13px;
    color: #3333cc;
  }

  .conteiner .navbar .katalog .flex input {
    width: 223px;
    font-size: 14px;
  }

  .conteiner .navbar .katalog {
    display: flex;
    gap: 8px;
  }

  .conteiner .navbar {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 13px;
    gap: 7px;
  }

  .conteiner .navbar .btn .voyti p {
    font-size: 14px;
  }

  .conteiner .navbar .btn .voyti {
    width: 58px;
    height: 43px;
    border: 1px solid transparent;
    display: flex;
    gap: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
  }

  .conteiner .navbar .btn .izb p {
    font-size: 14px;
  }

  .conteiner .navbar .btn .kar p {
    font-size: 14px;
  }

  .conteiner .navbar .btn .izb {
    width: 109px;
    height: 43px;
    display: flex;
    gap: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
  }

  .conteiner .rasrochka .flex i {
    font-size: 22px;
  }

  .conteiner .rasrochka .flex {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  .conteiner .rasrochka .flex .foiz {
    width: 29px;
    height: 24px;
  }

  .conteiner .rasrochka p {
    font-size: 12px;
  }

  .conteiner .rasrochka {
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .conteiner .rasrochka .kr {
    display: none;
  }

  .conteiner .AllWidth .reklama {
    width: 100%;
    height: 309px;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    /* display: none; */
  }
}

@media screen and (max-width: 426px) {
  .conteiner .translator {
    display: none;
  }

  .conteiner .navbar .katalog #flex {
    display: flex;
    position: absolute;
    left: 14px;
    top: 30px;
  }

  /* .conteiner .navbar {
    /* position: absolute;
    bottom: 0; */
  /* position: fixed; */
  /* position: fixed; */
  /* } */

  .conteiner .rasrochka {
    display: none;
  }

  .conteiner .AllWidth .reklama {
    width: 100%;
    height: 160px;
    position: relative;
  }

  .conteiner .navbar .katalog .flex input {
    width: 339px;
    font-size: 14px;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .conteiner .navbar .katalog .flex button {
    border-radius: 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* swiper-slide {
    border-radius: 10px;
} */

  .conteiner .navbar .logo svg {
    display: none;
  }

  .conteiner #uzum {
    display: block;
    /* position: absolute;
    bottom: 82px;
    left: 14px;
    width: 35px; */
    /* position: absolute;
    top: 0; */
  }

  .conteiner .navbar .katalog .kat {
    position: absolute;
    bottom: 0;
    display: none;
  }

  .conteiner .navbar .btn {
    position: absolute;
    bottom: 0;
  }

  .conteiner .poisk {
    display: block;
  }

  .conteiner .menu {
    position: absolute;
  }

  .conteiner .navbar .btn .voyti {
    display: block;
  }
  .conteiner .navbar .btn .izb {
    display: block;
  }
  .conteiner .navbar .btn .kar {
    display: block;
  }

  .conteiner .navbar .btn .voyti svg {
    display: none;
  }

  .conteiner .navbar .btn .voyti .p {
    display: block;
  }

  .conteiner .navbar .btn .izb .p {
    display: block;
  }

  .conteiner .navbar .btn .kar .p {
    display: block;
  }

  .conteiner .navbar .btn .voyti p {
    display: none;
  }
  .conteiner .navbar .btn .izb i {
    display: none;
  }

  .conteiner .navbar .btn .izb p {
    display: none;
  }

  .conteiner .navbar .btn .kar i {
    display: none;
  }

  .conteiner .navbar .btn .kar p {
    display: none;
  }

  .conteiner .menu {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    position: fixed;
    bottom: 10px;
    margin-bottom: 157px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 20px 40px rgba(0, 0, 0, 0.2),
      20px -20px 40px rgba(255, 255, 255, 0.5);
  }

  .conteiner .item {
    position: relative;
  }
}
