* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

.AllWidth {
  padding: 0 62px;
}

.conteiner {
  width: 100%;
  height: 100%;
}

.conteiner .translator {
  width: 100%;
  height: 40px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.conteiner .translator .location {
  display: flex;
  gap: 15px;
}

.conteiner .translator .location i {
  font-size: 20px;
  color: #5b5b5b;
}

.conteiner .translator .location .sam {
  color: #000;
}

.conteiner .translator .location h3 {
  color: #2f2f2f;
  font-size: 16px;
}

.conteiner .translator .dos p {
  color: #878787;
  font-size: 20px;
}

.conteiner .translator .questions {
  display: flex;
  gap: 15px;
}

.conteiner .translator .questions select {
  width: 100px;
  border: none;
  background-color: transparent;
}

/* Translator finish */

.conteiner .navbar {
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 48px;
}

.conteiner .navbar .logo svg {
  width: 240px;
  height: 200px;
}

.conteiner .navbar .katalog .flex input {
  width: 400px;
  height: 40px;
  border: 1px solid #666666;
  border-right: none;
  padding: 00 15px;
  font-size: 17px;
  border-radius: 2px;
}

.conteiner .navbar .katalog {
  display: flex;
  gap: 20px;
}

.conteiner .navbar .katalog .flex {
  display: flex;
}

.conteiner .navbar .katalog .flex button {
  width: 60px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
  border-top-right-radius: 2px;
}

.conteiner .navbar .katalog .flex button i {
  font-size: 20px;
}

.conteiner .navbar .katalog .kat {
  width: 150px;
  height: 40px;
  background-color: #eaeaf9;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s all linear;
}

.conteiner .navbar .katalog .kat:hover {
  background-color: #a7a7ff;
}

.conteiner .navbar .katalog .kat i {
  font-size: 30px;
}

.conteiner .navbar .katalog .kat p {
  font-size: 17px;
  color: #3333cc;
}

.conteiner .navbar .btn {
  display: flex;
  gap: 20px;
}

.conteiner .navbar .btn .voyti {
  width: 88px;
  height: 43px;
  border: 1px solid transparent;
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
}

.conteiner .navbar .btn .voyti i {
  font-size: 22px;
}

.conteiner .navbar .btn .izb i {
  font-size: 22px;
}

.conteiner .navbar .btn .kar i {
  font-size: 22px;
}

.conteiner .navbar .btn .izb {
  width: 120px;
  height: 43px;
  display: flex;
  gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
}

.conteiner .navbar .btn .kar {
  width: 100px;
  height: 43px;
  display: flex;
  gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
}

.conteiner .navbar .btn .voyti:hover {
  background-color: #ccc;
}

.conteiner .navbar .btn .izb:hover {
  background-color: #ccc;
}

.conteiner .navbar .btn .kar:hover {
  background-color: #ccc;
}

/* Navbar Finish */

.conteiner .rasrochka {
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  display: flex;
  gap: 26px;
  align-items: center;
}

.conteiner .rasrochka .flex {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.conteiner .rasrochka .flex i {
  font-size: 30px;
}

.conteiner .rasrochka .flex p {
  color: #000;
}

.conteiner .rasrochka .flex .foiz {
  width: 30px;
  height: 30px;
  background-color: #715ead;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.conteiner .rasrochka p {
  font-size: 16px;
  color: #969696;
  cursor: pointer;
}

/* Rassrochka finish */

.conteiner .AllWidth .reklama {
  width: 100%;
  height: 350px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner .AllWidth .reklama .left {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 50px;
  color: #606060;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.conteiner .AllWidth .reklama .right {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 50px;
  color: #606060;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.conteiner .AllWidth .nizkie {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.conteiner .AllWidth .nizkie i {
  font-size: 40px;
}

.conteiner .AllWidth .skidka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.conteiner .AllWidth .skidka .item {
  width: 280px;
  height: 520px;
  border: 1px solid #e7e7e7;
  position: relative;
  border-radius: 15px;
}

.conteiner .AllWidth .skidka .item .heart {
  position: absolute;
  top: 7px;
  right: -1px;
  font-size: 30px;
  cursor: pointer;
}

.conteiner .AllWidth .skidka .item .heart svg {
  width: 40px;
  height: 25px;
}

.conteiner .AllWidth .skidka .item .basket {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.conteiner .AllWidth .skidka .item .img {
  padding: 10px 40px;
  background-color: #ccc;
  border-radius: 15px;
}

.conteiner .AllWidth .skidka .item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #ccc;
  object-fit: contain;
}

.conteiner .AllWidth .skidka .item .name {
  font-size: 14px;
  padding: 0 15px;
}
.conteiner .AllWidth .skidka .item .flex {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
}

.conteiner .AllWidth .skidka .item .flex .otziv {
  color: #ababab;
  font-size: 13px;
}
.conteiner .AllWidth .skidka .item .flex .otziv .otziv2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .skidka .item .flex .grade .grade2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .skidka .item .katta {
  padding: 0 15px;
}

.conteiner .AllWidth .skidka .item .kredit {
  width: 105px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 13px;
  background-color: yellow;
  border: none;
  border-radius: 4px;
}

.conteiner .AllWidth .skidka .item .katta2 {
  padding: 16px 15px 0;
}

.conteiner .AllWidth .skidka .item .price {
  font-size: 12px;
  color: #808080;
}

.conteiner .AllWidth .skidka .item .price2 {
  font-size: 15px;
  padding: 4px 15px;
  font-weight: 600;
}

.conteiner .AllWidth .pokaz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner .AllWidth .pokaz button {
  width: 658px;
  height: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  border-radius: 8px;
}

.conteiner .AllWidth .reklama2 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.conteiner .AllWidth .reklama2 img:hover {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.conteiner .AllWidth .flo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.conteiner .AllWidth .flo .item {
  width: 280px;
  height: 490px;
  border: 1px solid #e7e7e7;
  position: relative;
  border-radius: 15px;
}

.conteiner .AllWidth .flo .item .heart {
  position: absolute;
  top: 7px;
  right: -1px;
  font-size: 30px;
  cursor: pointer;
}

.conteiner .AllWidth .flo .item .heart svg {
  width: 40px;
  height: 25px;
}

.conteiner .AllWidth .flo .item .basket {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.conteiner .AllWidth .flo .item .img {
  padding: 10px 40px;
  background-color: #ccc;
  border-radius: 15px;
}

.conteiner .AllWidth .flo .item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #ccc;
  object-fit: contain;
}

.conteiner .AllWidth .flo .item .name {
  font-size: 14px;
  padding: 0 15px;
}
.conteiner .AllWidth .flo .item .flex {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
}

.conteiner .AllWidth .flo .item .flex .otziv {
  color: #ababab;
  font-size: 13px;
}
.conteiner .AllWidth .flo .item .flex .otziv .otziv2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .flo .item .flex .grade .grade2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .flo .item .katta {
  padding: 0 15px;
}

.conteiner .AllWidth .flo .item .kredit {
  width: 105px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 13px;
  background-color: yellow;
  border: none;
  border-radius: 4px;
}

.conteiner .AllWidth .flo .item .katta2 {
  padding: 16px 15px 0;
}

.conteiner .AllWidth .flo .item .price {
  font-size: 12px;
  color: #808080;
}

.conteiner .AllWidth .flo .item .price2 {
  font-size: 15px;
  padding: 4px 15px;
  font-weight: 600;
}


.conteiner .AllWidth .rekomenduyem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.conteiner .AllWidth .rekomenduyem .item {
  width: 280px;
  height: 520px;
  border: 1px solid #e7e7e7;
  position: relative;
  border-radius: 15px;
}

.conteiner .AllWidth .rekomenduyem .item .heart {
  position: absolute;
  top: 7px;
  right: -1px;
  font-size: 30px;
  cursor: pointer;
}

.conteiner .AllWidth .rekomenduyem .item .heart svg {
  width: 40px;
  height: 25px;
}

.conteiner .AllWidth .rekomenduyem .item .basket {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.conteiner .AllWidth .rekomenduyem .item .img {
  padding: 10px 40px;
  background-color: #ccc;
  border-radius: 15px;
}

.conteiner .AllWidth .rekomenduyem .item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #ccc;
  object-fit: contain;
}

.conteiner .AllWidth .rekomenduyem .item .name {
  font-size: 14px;
  padding: 0 15px;
}
.conteiner .AllWidth .rekomenduyem .item .flex {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
}

.conteiner .AllWidth .rekomenduyem .item .flex .otziv {
  color: #ababab;
  font-size: 13px;
}
.conteiner .AllWidth .rekomenduyem .item .flex .otziv .otziv2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .rekomenduyem .item .flex .grade .grade2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .rekomenduyem .item .katta {
  padding: 0 15px;
}

.conteiner .AllWidth .rekomenduyem .item .kredit {
  width: 105px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 13px;
  background-color: yellow;
  border: none;
  border-radius: 4px;
}

.conteiner .AllWidth .rekomenduyem .item .katta2 {
  padding: 16px 15px 0;
}

.conteiner .AllWidth .rekomenduyem .item .price {
  font-size: 12px;
  color: #808080;
}

.conteiner .AllWidth .rekomenduyem .item .price2 {
  font-size: 15px;
  padding: 4px 15px;
  font-weight: 600;
}

.conteiner .AllWidth .elektronika {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.conteiner .AllWidth .elektronika .item {
  width: 280px;
  height: 520px;
  border: 1px solid #e7e7e7;
  position: relative;
  border-radius: 15px;
}

.conteiner .AllWidth .elektronika .item .heart {
  position: absolute;
  top: 7px;
  right: -1px;
  font-size: 30px;
  cursor: pointer;
}

.conteiner .AllWidth .elektronika .item .heart svg {
  width: 40px;
  height: 25px;
}

.conteiner .AllWidth .elektronika .item .basket {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.conteiner .AllWidth .elektronika .item .img {
  padding: 10px 40px;
  background-color: #ccc;
  border-radius: 15px;
}

.conteiner .AllWidth .elektronika .item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #ccc;
  object-fit: contain;
}

.conteiner .AllWidth .elektronika .item .name {
  font-size: 14px;
  padding: 0 15px;
}
.conteiner .AllWidth .elektronika .item .flex {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  align-items: center;
}

.conteiner .AllWidth .elektronika .item .flex .otziv {
  color: #ababab;
  font-size: 13px;
}
.conteiner .AllWidth .elektronika .item .flex .otziv .otziv2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .elektronika .item .flex .grade .grade2 {
  color: #ababab;
  font-size: 13px;
}

.conteiner .AllWidth .elektronika .item .katta {
  padding: 0 15px;
}

.conteiner .AllWidth .elektronika .item .kredit {
  width: 105px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 13px;
  background-color: yellow;
  border: none;
  border-radius: 4px;
}

.conteiner .AllWidth .elektronika .item .katta2 {
  padding: 16px 15px 0;
}

.conteiner .AllWidth .elektronika .item .price {
  font-size: 12px;
  color: #808080;
}

.conteiner .AllWidth .elektronika .item .price2 {
  font-size: 15px;
  padding: 4px 15px;
  font-weight: 600;
}
